div#wrapper {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}



  /*nav styling */
.nav {
    width: 100%;
    height: 100px;
    position: fixed;
    line-height: 100px;
    z-index: 1;
    font-size: 1.2em;
    z-index: 4000;
}

div.logo {
    position: absolute;
    left: 10px;
    display: inline-block;
    width: 100%;
}

.nav div.main_list {
    position: absolute;
    right: 30px;
    height: 100px;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    height: 65px;
    padding-left: 4rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color:white;
    text-shadow: 1px 1px black;
    font-weight: bold;
}

a.nav-link-admin {
    font-size: .2em;
    padding: ;

}

div.logo h1 {
    color: white;
    display: inline;
    padding-left: 100px;
    line-height: 100px;
}


.nav div.main_list ul li a:hover {
    color: RGB(54,174,216)
}

.affix {
    padding: 0;
    background-color: #111;
}




/* table styling */
table {
    width: 80vw;
}
td.hideID {
    display: none;
}   

td {
    padding: 15px;
    padding-right: 40px;
}

th {
    font-size: 1.5em;
    padding-right: 50px;
    background-color: rgba(211, 211, 211, 0.609);
}

tr:nth-child(even) {
    background-color: rgba(54, 173, 216, 0.075);

}



/* button styling */
.btn {
    background-color:  RGB(54,174,216);
    border: none;
    width: 80vw;
    font-weight: bold;
}

.btn:hover {
    background-color:  RGB(54,174,216);
    border: none;
    box-shadow: 2px 2px black;
}

#submit {
    text-align: center;
}



/* submit styling */
div.contact-container select, div.contact-container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

div.contact-container input[type=submit] {
  background-color: #36add8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  width: 65vw;
}


div.contact-container input[type=submit]:hover {
  background-color: #36add8;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

 h2.contact-container {
    text-align: center;
    font-size: 2em;
}

 p.contact-container {
    margin-left: 10%;
}

a.link {
    font-size: 1.5em;
}

p.center {
    text-align: center;
    font-weight: bold;
}


/* Media qurey section */

@media screen and (max-width:950px) {
    .nav {
        width: 100%;
        height: 100px;
        position: fixed;
        line-height: 130px;
        z-index: 1;
        font-size: .9em;
    }
}


@media screen and (max-width:750px) {
    div.logo h1 {
        display: none;
    }

    .nav div.logo {
        margin-left: 15px;
    }
}


@media screen and (max-width:750px) {
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
        padding: 10px;
        line-height: 100px;
    }}




