div#wrapper {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}

footer#footer {
    width: 100%;
    bottom: 0;
}

  /*nav styling */
.nav {
    width: 100%;
    height: 160px;
    position: fixed;
    line-height: 160px;
    z-index: 1;
    font-size: 1.2em;
    z-index: 4000;
}

div.logo {
    position: absolute;
    left: 10px;
    display: inline-block;
    width: 100%;
}

.nav div.main_list {
    position: absolute;
    right: 30px;
    height: 100px;
}

.nav div.main_list ul {
    width: 100%;
    height: 100px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 270px;
}

.nav div.main_list ul li {
    height: 100px;
    padding-left: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color:white;
    text-shadow: 1px 1px black;
    font-weight: bold;
}

li.admin a.nav-link {
    font-size: .85em;
}


div.logo h1 {
    color: white;
    display: inline;
    padding-left: 10px;
    line-height: 100px;
}


.nav div.main_list ul li a:hover {
    color: RGB(54,174,216)
}

.affix {
    padding: 0;
    background-color: #111;
}




/* table styling */
table {
    width: 80vw;
    table-layout: fixed;

}

td.hideID {
    display: none;
}   

td {
    padding: 15px;
    padding-right: 40px;
    word-wrap:break-word
}

th {
    font-size: 1.5em;
    padding-right: 50px;
    background-color: rgba(211, 211, 211, 0.609);
}

tr:nth-child(even) {
    background-color: rgba(54, 173, 216, 0.075);

}



/* button styling */
.btn {
    background-color:  RGB(54,174,216);
    border: none;
    width: 80vw;
    font-weight: bold;
}

.btn:hover {
    background-color:  RGB(54,174,216);
    border: none;
    box-shadow: 2px 2px black;
}

#submit {
    text-align: center;
}



/* submit styling */
div.contact-container select, div.contact-container textarea, div.contact-container input[type=text], div.contact-container input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

div.contact-container input[type=submit] {
  background-color: #36add8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  width: 65vw;
}


div.contact-container input[type=submit]:hover {
  background-color: #36add8;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}



 h2.contact-container {
    text-align: center;
    font-size: 2em;
}

 p.contact-container {
    margin-left: 10%;
}

/* edit style */
div.contact-container-left select, div.contact-container-left textarea, div.contact-container-left input[type=text], div.contact-container-left input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

div.contact-container-left input[type=submit] {
  background-color: #36add8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  width: 77vw;
}


div.contact-container-left input[type=submit]:hover {
  background-color: #36add8;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.contact-container-left {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 80vw;
  text-align: left;
}



 h2.contact-container-left {
    font-size: 2em;
}


a.link {
    font-size: 1.5em;
}



.navTrigger {
    display: none;
}


/* Media qurey section */


@media screen and (max-width:1100px) {

  
    .nav div.logo {
        margin-left: 15px;
    }

.nav div.main_list ul li {
    padding-left: 10px;    
}
    
}


@media screen and (max-width:750px) {
div.contact-container input[type=submit] {
  width: 50vw;
}

.nav div.main_list ul li {
    padding-left: 10px;    
}

li#invisible {
  display: none;
}

    div.logo h1 {
        display: none;
    }

    /* responsive table */

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* hide table headers  */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
    border: 1px solid #ccc; 
  }
	
	td { 
		/* create row */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* header */
		position: absolute;
		/* padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	new
  */
    td.main:nth-of-type(1):before { content: ""; }
	td.main:nth-of-type(2):before { content: "Category"; }
	td.main:nth-of-type(3):before { content: "Quote"; }
	td.main:nth-of-type(4):before { content: "Author"; }

}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px; 
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}
